html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

input:-webkit-autofill {
  /* 自动填充时，输入框背景色为 #121212 */
  box-shadow: 0 0 0px 1000px #121212 inset;
}


/* overflow 为 scroll的时候 滚动条的样式 */
html ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
